*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 24px;
}

.big-box{
    display: flex;
    flex-direction: column;
}

.hello{
    padding: 18px;
}

#d{
    color: rgb(126, 136, 190);
}

#n{
    color: rgba(1, 2, 14, 0.657);
}

.box{
    align-self: center;
}

canvas{
    background-color: #e2e2e2;
}